<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AgregarGrupoService</servlet-name>
        <servlet-class>servlets.AgregarGrupoService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAlumno</servlet-name>
        <servlet-class>servlets.AltaAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAlumnoService</servlet-name>
        <servlet-class>servlets.AltaAlumnoService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoGrupoService</servlet-name>
        <servlet-class>servlets.AlumnoGrupoService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingresar</servlet-name>
        <servlet-class>servlets.Ingresar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarService</servlet-name>
        <servlet-class>servlets.IngresarService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCursosService</servlet-name>
        <servlet-class>servlets.ListarCursosService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>servlets.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarAsistenciaService</servlet-name>
        <servlet-class>servlets.GuardarAsistenciaService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevisarAsistenciaService</servlet-name>
        <servlet-class>servlets.RevisarAsistenciaService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCursosService</servlet-name>
        <servlet-class>servlets.BuscarCursosService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnosPorFechaService</servlet-name>
        <servlet-class>servlets.AlumnosPorFechaService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutService</servlet-name>
        <servlet-class>servlets.LogoutService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAlumnosAsistencia</servlet-name>
        <servlet-class>servlets.ListarAlumnosAsistencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevisarTodasAsistenciasService</servlet-name>
        <servlet-class>servlets.RevisarTodasAsistenciasService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAsistenciaService</servlet-name>
        <servlet-class>servlets.ModificarAsistenciaService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UltimaTomaAsistenciaService</servlet-name>
        <servlet-class>servlets.UltimaTomaAsistenciaService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadisticasService</servlet-name>
        <servlet-class>servlets.EstadisticasService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadisticasAlumnoService</servlet-name>
        <servlet-class>servlets.EstadisticasAlumnoService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarGrupoService</servlet-name>
        <url-pattern>/AgregarGrupoService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAlumno</servlet-name>
        <url-pattern>/AltaAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAlumnoService</servlet-name>
        <url-pattern>/AltaAlumnoService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoGrupoService</servlet-name>
        <url-pattern>/AlumnoGrupoService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingresar</servlet-name>
        <url-pattern>/Ingresar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarService</servlet-name>
        <url-pattern>/IngresarService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCursosService</servlet-name>
        <url-pattern>/ListarCursosService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarAsistenciaService</servlet-name>
        <url-pattern>/GuardarAsistenciaService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevisarAsistenciaService</servlet-name>
        <url-pattern>/RevisarAsistenciaService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCursosService</servlet-name>
        <url-pattern>/BuscarCursosService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnosPorFechaService</servlet-name>
        <url-pattern>/AlumnosPorFechaService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutService</servlet-name>
        <url-pattern>/LogoutService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAlumnosAsistencia</servlet-name>
        <url-pattern>/ListarAlumnosAsistencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevisarTodasAsistenciasService</servlet-name>
        <url-pattern>/RevisarTodasAsistenciasService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAsistenciaService</servlet-name>
        <url-pattern>/ModificarAsistenciaService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UltimaTomaAsistenciaService</servlet-name>
        <url-pattern>/UltimaTomaAsistenciaService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadisticasService</servlet-name>
        <url-pattern>/EstadisticasService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadisticasAlumnoService</servlet-name>
        <url-pattern>/EstadisticasAlumnoService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
